/*ページ全体で使用するもの*/
html,body {
    height: 95%;
}
body{
    background-color: #FFF3E4;
}
.vertical-center {
  min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
.text-center{
    text-align: center;
}
.container.fill{
    min-height: 100%;
    height: 100%;
}

/*トップ画像のイメージ*/
.jumbotron.topimage{
    background:url(../img/fufu.jpg)center no-repeat;
    background-size: cover;
    height: 300px;
}
/*トップ画面のスクロールメニュー関連のClass*/
.scroll-anchor:hover .animate-text .text-wrap {
    display: inline-block;
    -webkit-animation: text-anim 1s ease 100ms;
    -moz-animation: text-anim 1s ease 100ms;
    -o-animation: text-anim 1s ease 100ms;
    animation: text-anim 1s ease 100ms;
}
@media screen and (max-width: 768px) {
    section{height: 100vh} 
}

@-webkit-keyframes text-anim{ 0%{ -webkit-transform: rotate(0deg);} 30%{ -webkit-transform: rotate(30deg);} 70%{-webkit-transform: rotate(-30deg);} 100%{ -webkit-transform: rotate(0deg);}}
@-moz-keyframes text-anim{ 0%{ -moz-transform: rotate(0deg);} 30%{ -moz-transform: rotate(30deg);} 70%{-moz-transform: rotate(-30deg);} 100%{ -moz-transform: rotate(0deg);}}
@-o-keyframes text-anim{ 0%{ -o-transform: rotate(0deg);} 30%{ -o-transform: rotate(30deg);} 70%{-o-transform: rotate(-30deg);} 100%{ -o-transform: rotate(0deg);}}
@keyframes text-anim{ 0%{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);} 30%{-webkit-transform: rotate(30deg);-moz-transform: rotate(30deg);-ms-transform: rotate(30deg);transform: rotate(30deg);} 70%{-webkit-transform: rotate(-30deg);-moz-transform: rotate(-30deg);-ms-transform: rotate(-30deg);transform: rotate(-30deg);} 100%{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);};}
/*** scroll menu css ***/
.scroll-menu-content .menu-wrap {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
}
.scroll-menu-content .menu {
  display: table-cell;
  color: white;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 18px;
  line-height: 22px;
}
/*ログイン後のメニュー関連のClass*/
.btn-menu-item{
    height: 120px;
}

/*ヨメータ―表示ページ関連のClass*/
.yomerter{
    position: relative;
    width: 100%;
    height: 100%;
}
.pin {
    position: absolute;
    width: 50px;
    height: 65px;
    top:50%;
    left: 50%;
    -ms-transform: translate(-50%,-90%);
    -webkit-transform: translate(-50%,-90%);
    transform: translate(-50%,-90%);
    margin:0;
    padding:0;
}
.animate-pin{
    animation: animScale 3s ease-out;
}

@keyframes animScale {
    0% { transform: scale(0.8, 0.8) translate(-50%,-90%); }
    5% { transform: scale(1.2, 1.2) translate(-50%,-90%); }
    10% { transform: scale(1, 1) translate(-50%,-90%); }
    15% { transform: scale(1.1, 1.1) translate(-50%,-90%); }
    20% { transform: scale(1, 1) translate(-50%,-90%); }
    100% { transform: scale(1, 1) translate(-50%,-90%); }
}
/*会員登録情報画面のstyle*/
.bound{
    -webkit-animation: bound .8s linear infinite;
}
@-webkit-keyframes bound {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  30% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
  50% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  80% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}